html, body, div, span,  p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
  background-color : #dfdfdf;
	color: #544d6a;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.7;
 
}

table
{
  width : 800px;
}
h4{
 text-shadow:1px 1px 2px #535353;
 font-size : 12px;
 color : #e5e5e5 ;
}
h3{
 text-shadow:1px 1px 2px #f1f1f1;
 font-size :14px;
 color : #747474 ;
}
h2{

 font-size :14px;
 color : #544d6a ;
 

}
h1{
  font-size :25px;  
  color : #544d6a ;

}
#wrapper {
    width: 750px;
    margin-left:  auto;
    margin-right:  auto;
    margin-bottom : 25px;
    margin-top : 10px;
    border-style:solid;
    border-width:2px;
    border-color:#c4c5d5;
    padding-left  : 25px;
    padding-right  : 25px;
    -webkit-border-radius:9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    border: #EEECEB solid 1px;
    color : white ;
    background-image: url(images/bg.png); 
   	background-position: left top;
	  background-repeat: repeat;
    -moz-box-shadow: 2px 2px 2px 0px #cfcfcf;
    -webkit-box-shadow: 2px 2px 2px 0px #cfcfcf;
    -o-box-shadow: 2px 2px 2px 0px #cfcfcf;
    box-shadow: 2px 2px 2px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}
.blocThread{
    width: 750px;
    margin-left:  auto;
    margin-right:  auto;
    margin-bottom : 25px;
    margin-top : 5px;
    border-style:solid;
    border-width:2px;
    border-color:#c4c5d5;
    /*padding-left  : 25px;
    padding-right  : 25px;*/
    padding-bottom: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #a9a9a9 solid 1px;
    color : white ;
    /*background-image: url(images/bg.png);*/ 
    background-color: #f1f1f1;
   	background-position: left top;
	  background-repeat: repeat;
    -moz-box-shadow: 2px 2px 2px 0px #cfcfcf;
    -webkit-box-shadow: 2px 2px 2px 0px #cfcfcf;
    -o-box-shadow: 2px 2px 2px 0px #cfcfcf;
    box-shadow: 2px 2px 2px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}
 
.bubble-left
{
  position: relative;
  width: 285px;
  height: 120px;
  padding: 7px;
  margin-left : 5%;
  margin-right :  auto;
  margin-top :  10px;
  background: #828391;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  /*border: #EEECEB solid 1px;*/
  color : white ;
  /*  #cfcfcf */
  -moz-box-shadow: 2px 2px 2px 0px #a3a3a3;
  -webkit-box-shadow: 2px 2px 2px 0px #a3a3a3;
  -o-box-shadow: 2px 2px 2px 0px #a3a3a3;
  box-shadow: 2px 2px 2px 0px #a3a3a3;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#a3a3a3, Direction=134, Strength=5);
    height:auto; 
  clear:both;
 

}

.bubble-left:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 22px 14px 0;
  border-color: transparent #828391;
  display: block;
  width: 0;
  z-index: 1;
  left: -22px;
  top: 39px;
    height:auto; 
  clear:both;
   
}

.bubble-left:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 22px 14px 0;
  border-color: transparent #EEECEB;
  display: block;
  width: 0;
  z-index: 0;
  left: -23px;
  top: 39px;
    height:auto; 
  clear:both;
 
}

 



.bubble-right
{
  position: relative;
  width: 282px;
  height: 120px;
  padding: 7px;
  margin-right : 5%;
  margin-left : auto;
  margin-top :  10px;
  background: #0B818E;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  /*border: #EEECEB solid 1px;*/
    color : white ;
  -moz-box-shadow: 2px 2px 2px 0px #a3a3a3;
  -webkit-box-shadow: 2px 2px 2px 0px #a3a3a3;
  -o-box-shadow: 2px 2px 2px 0px #a3a3a3;
  box-shadow: 2px 2px 2px 0px #a3a3a3;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#a3a3a3, Direction=134, Strength=5);
  height:auto; 
  clear:both;

}
.bubble-right:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 0 14px 22px;
  border-color: transparent #0B818E;
  display: block;
  width: 0;
  z-index: 1;
  right: -22px;
  top: 39px;
    height:auto;
    clear:both; 
}

.bubble-right:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 14px 0 14px 22px;
    border-color: transparent #EEECEB;
    display: block;
    width: 0;
    z-index: 0;
    right: -23px;
    top: 39px; 
      height:auto;
      clear:both; 
}
.innerTextClassic
{
   margin-right : 10px ;
   margin-left : 10px ;
   margin-top : 0px ;
   margin-bottom : 25px ;  /*-----------------  !!!!!!!!!!!!!!!!! */ 
}
.innerTextInfoClassic
{
   margin-right : auto ;
   margin-left : 18px ;
   margin-top : 2px ;
   margin-bottom : 0px ;   
   font-size : 9px; 
   color:#747474; 
   font-weight:bold; 
}
.sepThread
{
   border-top-style:dotted;
   border-top-width:2px;
   border-top-color:#c4c5d5;
   margin-top : 10px;
   color : #544d6a;
}
.tdTop
{
    
    margin-bottom : 1px;
    margin-top : 5px;
 
 
}